<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sla22 Litmus" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sla22 Litmus" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Powered by Litmus Copyright &copy; <%= "#{Time.now.year}" %></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

